/*
  Each css rule comprises of a selector and a declaration block
*/

body {
  font-family: Arial;
  background-color: rgba(66, 66, 66, 0.8);
}

h1, h2 {
  color: rgba(31, 144, 100, 0.87);
}

/* h1 is the selector - it will apply to all h1 tags in the HTML */
h1 {
  /* Declaration block inside the braces */
  font-size: 45px;
}

h2 {
  font-size: 25px;
}

/*
  This styles a class. It starts with a '.' followed by the class name.
  Classes may be used on multiple HTML elements.
*/
.main-text {
  text-align: justify;
}

/*
  This styles an ID. It starts with a '#' followed by an ID.
  An ID must be unique to a single HTML element.
  Try to avoid IDs as much as possible; use classes for more flexibility/reusibility
*/
#contact {
  font-size: 20px;
  font-weight: bold;
}
